
.navbar{
  z-index: 1;
  float: right;
  position: absolute;
  right: 0;
  margin:30px 100px 50px 0px;
  border-radius: 10px;
  padding-bottom: 10px;
  display: inline;
}
.navbar .navbar-elements{
  position:relative;
  top: 0%;
  right: 0%;

}

.navbar-lists{
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding: 15px 50px;
  background-color:rgb(48, 46, 46);
  border-radius: 0px 10px 0px 15px;
}

.navbar-lists li {
  position: relative;
  font-weight: 500;
  margin: 0 10px;
  padding: 5px 0;
  cursor: pointer;
  color: white;
  transition: 1s;
  list-style-type: none;
}

.navbar-lists li::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0; 
  height: 3px; 
  background-color: white; 
  border-radius: 5px;
  transition: 0.6s ease-in; 
}

.navbar-lists li.active::before {
  width: 100%; 
}

.navbar-lists li:hover{
  color:  skyblue;
}





@media (max-width:1400px){

  .navbar {
    position: relative;
  }

  .navbar .navbar-elements {
    top: -58.5px;
  }
}

@media (max-width:1020px){
  .navbar-lists{
    gap: 5px;
    padding: 15px 10px;
  }
}

@media (max-width:900px){
  .navbar {
    position: fixed; 
    bottom: -130px;
    width: 107%;
    filter: blur(0.7px);
  }

  .navbar .navbar-elements .navbar-lists {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left:150px;
    border-radius: 10px 5px 0px 0px;
    background-color:rgb(48, 46, 46,0.97);
  }
}

@media(max-width:700px){
  .navbar {
    width: 110%;
  }
}

@media(max-width:550px){
  .navbar .navbar-elements .navbar-lists {
    margin-bottom: 10px;
  }
}

@media(max-width:500px){
  .navbar {
    width: 112%;
  }
}